#############################
#     Printer Variables     #
#############################
[gcode_macro _PRINTER_VARIABLE]
description: Helper: Contains defined printer specific variables
##### Display info #####
variable_printer_name: 'Vx.XXXX'            # printer name shown on the display
variable_display_group: '__voron_display'   # main display group to be shown after a splash screen
variable_display_icon: 'voron'              # used to show a icon if available on the display
variable_display_lcd_type: 'none'           # [none|uc1701|sh1106] what type of display do we have
##### Homing #####
variable_z_home_current: 0.3                # reduced homing current for z
variable_home_accel: 1200                   # reduced ACCEL for homing
gcode:
    # features
    {% set ena_debug = printer.save_variables.variables.debug|default('false')|lower %}

    {% if ena_debug == "true" %}
        {action_respond_info('==== _PRINTER_VARIABLE ====')}
    {% endif %}

[delayed_gcode INIT_PRINTER_VARIABLE]
initial_duration: 0.3
gcode:
    # features
    {% set ena_debug = printer.save_variables.variables.debug|default('false')|lower %}

    {% if ena_debug == "true" %}
        {action_respond_info('==== INIT_PRINTER_VARIABLE ====')}
    {% endif %}
    _PRINTER_VARIABLE
