#####################################################################
#  Glyph definition
#####################################################################
[display_glyph chamber]
data:
  ................
  ****************
  *....*....*....*
  *....*....*....*
  *....******....*
  *..............*
  *..............*
  *.....****.....*
  *.***.*..*.***.*
  *.....****.....*
  *......**......*
  *..............*
  *.************.*
  *...*......*...*
  ****************
  ................

[display_glyph chamberv0]
data:
  ................
  ****************
  *..............*
  *.....****.....*
  *.***.*..*.***.*
  *.....****.....*
  *......**......*
  *..............*
  *..*********...*
  *...*******....*
  *...*..*..*....*
  *...*..*..*....*
  *...*..*..*....*
  *...*..*..*....*
  ****************
  ................

[display_glyph chambervt]
data:
  ................
  ****************
  *..............*
  *.....****.....*
  *.***.*..*.***.*
  *.....****.....*
  *......**......*
  *..............*
  *.************.*
  *..**..**..**..*
  *..**..**..**..*
  *..**..**..**..*
  *..**..**..**..*
  *..**..**..**..*
  ****************
  ................

[display_glyph chamberv2]
data:
  ................
  ****************
  *..............*
  *..............*
  *..............*
  *..............*
  *..............*
  *.....****.....*
  *.***.*..*.***.*
  *.....****.....*
  *......**......*
  *..............*
  *.************.*
  *...**....**...*
  ****************
  ................

[display_glyph voron]
data:
 ......***.......
 ....*******.....
 ...*********....
 .*************..
 *****..***..***.
 ****..***..****.
 ***..***..*****.
 **..***..******.
 ******..***..**.
 *****..***..***.
 ****..***..****.
 ***..***..*****.
 .*************..
 ...*********....
 ....*******.....
 ......***.......

[display_glyph voron_heart]
data:
 ................
 ..****...*****..
 .**************.
 ******..**..****
 *****..**..*****
 ****..**..******
 *******..*******
 .*****..**..***.
 .****..**..****.
 ..**..**..****..
 ...**********...
 ....********....
 .....******.....
 ......****......
 .......**.......
 ................

[display_glyph ercf_carrot]
data:
 ........***.....
 ***....***......
 .**....**.......
 .****..**.......
 ...**..*........
 ...***.*..**....
 .........***....
 ..****..***.....
 ****...***..*...
 ***...***..***..
 **...***..***...
 ......*..***..*.
 ........***..**.
 .........*..***.
 ............***.
 ................

[display_glyph bed]
data:
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ...**********...
  ..*..........*..
  .*............*.
  *..............*
  ****************
  ................

[display_glyph bed_heat1]
data:
  ................
  ......*...*.....
  ......*...*.....
  .....*...*......
  .....*...*......
  ......*...*.....
  ......*...*.....
  .....*...*......
  .....*...*......
  ................
  ...**********...
  ..*..........*..
  .*............*.
  *..............*
  ****************
  ................

[display_glyph bed_heat2]
data:
  ................
  .....*...*......
  .....*...*......
  ......*...*.....
  ......*...*.....
  .....*...*......
  .....*...*......
  ......*...*.....
  ......*...*.....
  ................
  ...**********...
  ..*..........*..
  .*............*.
  *..............*
  ****************
  ................

[display_glyph extruder1]
data:
  ..************..
  ..************..
  ......****......
  ....********....
  ....********....
  .....******.....
  ......****......
  .......**.......
  ................
  ..*******.......
  .*..............
  .*..............
  ..************..
  ..............*.
  ..............*.
  .......*******..

[display_glyph extruder2]
data:
  ..************..
  ..************..
  ......****......
  ....********....
  ....********....
  .....******.....
  ......****......
  .......**.......
  ................
  .......**.......
  ................
  ................
  ................
  ................
  ................
  ................

[display_glyph extruder3]
data:
  ..************..
  ..************..
  ......****......
  ....********....
  ....********....
  .....******.....
  ......****......
  .......**.......
  ................
  ..*******.......
  .*..............
  .*..............
  ..******........
  ................
  ................
  ................

[display_glyph voronsplash1]
data:
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ...............*
 ..............**
 ............****
 ..........******
 ........********
 .......*********
 .....*********..
 ....**********..
 ....*********...

[display_glyph voronsplash2]
data:
 ................
 ................
 ................
 ................
 ................
 ...*............
 .****...........
 *******.........
 *********.......
 ***********.....
 ************....
 **************..
 ****************
 ...****.....****
 ...***......****
 ..****.....*****

[display_glyph voronsplash3]
data:
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 *...............
 ***...***.......
 ***...***.......

[display_glyph voronsplash4]
data:
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ....**.....*****
 ...***...*******

[display_glyph voronsplash5]
data:
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ****.......*****
 *****......*****

[display_glyph voronsplash6]
data:
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 *****.........**
 ******......****

[display_glyph voronsplash7]
data:
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 *******.......**
 ********......**

[display_glyph voronsplash8]
data:
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 *.........**....
 **........**....
 
[display_glyph voronsplash9]
data:
 ....********....
 ....********....
 ....*******.....
 ....******......
 ....******.....*
 ....*****......*
 ....****......**
 ....****.....***
 ....************
 ....***********.
 ....***********.
 ....**********..
 ....*********...
 ....*********...
 ....********....
 ....*******.....

[display_glyph voronsplash10]
data:
 ..***......*****
 .****.....******
 ****.....*******
 ***......*******
 ***.....********
 **.....*********
 *......*********
 *.....****....**
 ......***.....**
 .....***......**
 ....****.....***
 ...****.....****
 ...***......****
 ..****.....*****
 ..***......*****
 .***......******

[display_glyph voronsplash11]
data:
 ***....***......
 ***....***......
 ***.....**......
 ***.....***.....
 ***.....***.....
 ***......**.....
 ***......***....
 ***.......**....
 ***.......***...
 ***.......***...
 ***........**..*
 ***........***.*
 ***.........****
 ***.........****
 ***.........****
 ***.............

[display_glyph voronsplash12]
data:
 ...**....***....
 ...**...***.....
 ..***...***.....
 ..**....***.....
 .***....***.....
 .**.....***.....
 .**.....***.....
 ***.....***.....
 **......***.....
 **......***.....
 *.......***.....
 *.......***.....
 *........**.....
 .........****...
 ..........******
 ................

[display_glyph voronsplash13]
data:
 ...***.....**...
 ....***....**...
 ....***....**...
 ....***....**...
 ....***....**...
 ....***....**...
 ....***....*****
 ....***....*****
 ....***....**...
 ....***....**...
 ....***....**...
 ....***....**...
 ....**.....**...
 ..****.....**...
 *****......**...
 ................

[display_glyph voronsplash14]
data:
 ....***.....***.
 ....***....***..
 ....***....***..
 ....***....***..
 ....***....***..
 ....**.....***..
 ******.....***..
 ***........***..
 ***........***..
 .***.......***..
 .***.......***..
 ..***......***..
 ...***.....***..
 ...****.....****
 ....***......***
 ................

[display_glyph voronsplash15]
data:
 ......***.....**
 .......**.....**
 .......***....**
 .......***....**
 .......***....**
 .......***....**
 .......***....**
 .......***....**
 .......***....**
 .......***....**
 .......***....**
 .......***....**
 ......***.....**
 .....****.....**
 *******.......**
 ................

[display_glyph voronsplash16]
data:
 **........**....
 ***.......**....
 .***......**....
 ..**......**....
 ..***.....**....
 ...***....**....
 ...***....**....
 ....***...**....
 .....***..**....
 .....***..**....
 ......***.**....
 .......*****....
 .......*****....
 ........****....
 .........***....
 ................

[display_glyph voronsplash17]
data:
 ....*******.....
 .....*****......
 ......**********
 ........********
 ..........******
 ............****
 .............***
 ...............*
 ................
 ................
 ................
 ................
 ................
 ................
 ................
 ................

[display_glyph voronsplash18]
data:
 ****.....*******
 ***......*******
 ****************
 **************..
 *************...
 ***********.....
 *********.......
 ********........
 .*****..........
 ..**............
 ................
 ................
 ................
 ................
 ................
 ................

[display_glyph voronsplash19]
data:
 ***.............
 **..............
 .......****.....
 .......*...*....
 .......*....*...
 .......*....*...
 .......*....*...
 .......*....*...
 .......*...**...
 .......*****....
 ................
 ................
 ................
 ................
 ................
 ................

[display_glyph voronsplash20]
data:
 ................
 ................
 .......*****....
 .......*........
 .......*........
 .......*........
 .......**.......
 .......*........
 .......*........
 .......*****....
 ................
 ................
 ................
 ................
 ................
 ................

[display_glyph voronsplash21]
data:
 ................
 ................
 ........****....
 .......**.......
 .......*........
 .......**.......
 ..........**....
 ...........*....
 ...........*....
 .......*****....
 ................
 ................
 ................
 ................
 ................
 ................

[display_glyph voronsplash22]
data:
 ................
 ................
 ................
 .........**.....
 .........**.....
 .........**.....
 .........**.....
 .........**.....
 .........**.....
 .........**.....
 ................
 ................
 ................
 ................
 ................
 ................

[display_glyph voronsplash23]
data:
 ................
 ................
 ........***.....
 ......**........
 ......*.........
 ......*.........
 ......*...**....
 ......*....*....
 ......*....*....
 .......*****....
 ................
 ................
 ................
 ................
 ................
 ................

[display_glyph voronsplash24]
data:
 ................
 ................
 ......*....*....
 ......**...*....
 ......***..*....
 ......*.*..*....
 ......*..*.*....
 ......*..***....
 ......*...**....
 ......*....*....
 ................
 ................
 ................
 ................
 ................
 ................