###############################
#     Pause/Resume Macros     #
###############################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    # command params
    {% set debug = params.DEBUG|default(0)|int %}
    # variables
    {% set velocity = printer.configfile.config.pause_resume.recover_velocity|default(300)|int %}
    {% set pause_extruder_temp = printer['gcode_macro _PRINTER_VARIABLE'].pause_extruder_temp|default(150)|int %}
    {% set border_delta = printer["gcode_macro _PRINTER_VARIABLE"].border_delta|default(20)|int %}
    {% set wipe_out = printer['gcode_macro _PRINTER_VARIABLE'].pause_wipe_out|default(3)|float %}
    {% set pause_retract_disance = printer["gcode_macro _PRINTER_VARIABLE"].pause_filament_retract_disance|default(1)|int %}
    {% set retract_speed = printer["gcode_macro _PRINTER_VARIABLE"].retract_speed|default(800)|int %}
    {% set park_x = printer.toolhead.axis_minimum.x|float + border_delta %}
    {% set park_y = printer.toolhead.axis_minimum.y|float + border_delta %}
    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_x = printer.toolhead.position.x|float %}
    {% set act_y = printer.toolhead.position.y|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_x < (max_x-wipe_out) %}
    {% set safe_x = wipe_out %}
    {% else %}
    {% set safe_x = max_x-act_x %}
    {% endif %}
    {% if act_y < (max_y-wipe_out) %}
    {% set safe_y = wipe_out %}
    {% else %}
    {% set safe_y = max_y - act_y %}
    {% endif %}
    {% if (max_z-act_z) > 0.3 %}
    {% set safe_z_wipe_height = 0.3 %}
    {% set safe_z = (((max_z-act_z)/3)-0.3) %}
    {% else %}
    {% set safe_z = ((max_z-act_z)/3) %}
    {% endif %}
    # features
    {% set ena_debug = printer.save_variables.variables.debug|default("false")|lower %}

    {% if ena_debug == "true" or debug == 1 %}
        {action_respond_info("==== PAUSE ====")}
        {action_respond_info("pause: [velocity: '%s', extruder_temp: '%s', wipe_out: '%s']" % (velocity,pause_extruder_temp,wipe_out))}
        {action_respond_info("retract: [disance: '%s', speed: '%s'" % (pause_retract_disance,retract_speed))}
        {action_respond_info("delta: [border: '%s']" % (border_delta))}
        {action_respond_info("park: [x: '%s', y: '%s']" % (park_x,park_y))}
        {action_respond_info("max: [x: '%s', y: '%s', z: '%s']" % (max_x,max_y,max_z))}
        {action_respond_info("act: [x: '%s', y: '%s', z: '%s']" % (act_x,act_y,act_z))}
        {action_respond_info("safe: [x: '%s', y: '%s' z: '%s']" % (safe_x,safe_y,safe_z))}
        {action_respond_info("===============")}
    {% endif %}

    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=resume_extruder_temp VALUE='"{printer['extruder'].target}"'
    SAVE_GCODE_STATE NAME=PAUSE
    PAUSE_BASE
    G91
    G92 E0
    G1 E-{pause_retract_distance} F{retract_speed*60}
    {% if safe_z_wipe_height > 0 %}
        G0 Z{safe_z_wipe_height} F{velocity*60}
        G0 X{safe_x} Y{safe_y} F{velocity*60}
        G0 Z{safe_z-safe_z_wipe_height} F{velocity*3}
    {% else %}
        G0 X{safe_x} Y{safe_y} F{velocity*60}
        G0 Z{safe_z} F{velocity*3}
    {% endif %}
    G90
    SAVE_GCODE_STATE NAME=PAUSE_RAISED_Z
    G1 X{park_x} Y{park_y} F{velocity*60}
    SAVE_GCODE_STATE NAME=PAUSE_PARK_POSITION
    M104 S{extruder_idle_temp}
    SET_IDLE_TIMEOUT TIMEOUT=43200

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
variable_resume_extruder_temp = 0
gcode:
    # command params
    {% set debug = params.DEBUG|default(0)|int %}
    # variables
    {% set velocity = printer.configfile.config.pause_resume.recover_velocity|default(300)|int %}
    {% set pause_retract_disance = printer["gcode_macro _PRINTER_VARIABLE"].pause_filament_retract_disance|default(1)|int %}
    {% set unretract_speed = printer["gcode_macro _PRINTER_VARIABLE"].UNRETRACT_SPEED|default(300)|int %}
    {% set ena_debug = printer.save_variables.variables.debug|default("false")|lower %}

    {% if ena_debug == "true" or debug == 1 %}
        {action_respond_info("==== RESUME ====")}
        {action_respond_info("pause: [velocity: '%s', extruder_temp: '%s']" % (velocity,resume_extruder_temp))}
        {action_respond_info("unretract: [disance: '%s', speed: '%s'" % (pause_retract_disance,unretract_speed))}
        {action_respond_info("===============")}
    {% endif %}

    {% if resume_extruder_temp > 0 %}
        M109 S{resume_extruder_temp|int}
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
        RESTORE_GCODE_STATE NAME=PAUSE_PARK_POSITION MOVE=1 MOVE_SPEED={velocity}
        RESTORE_GCODE_STATE NAME=PAUSE_RAISED_Z MOVE=1 MOVE_SPEED={velocity}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED={velocity}
        G91
        M83
        G92 E0
        G1 E{pause_retract_distance} F{unretract_speed*60}
        g92 E0
        RESUME_BASE {get_params}
    {% else %}
        {action_respond_info("ERROR: Resume is missing resume_extruder_temp data")}
    {% endif %}
