###############################
#     Pause/Resume Macros     #
###############################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  # command params
  {% set boarder_delta = params.BOARDER_DELTA|default(10)|float %}
  {% set retract_distance = params.RETRACT_PAUSE|default(1)|float %}
  {% set retract_speed = params.RETRACT_SPEED|default(1800)|float %}
  {% set park_speed = params.PARK_SPEED|default(6000)|float %}
  {% set park_z_speed = params.PARK_Z_SPEED|default(900)|float %}
  # variables 
  {% set x_park = printer.toolhead.axis_minimum.x|float + boarder_delta %}
  {% set y_park = printer.toolhead.axis_minimum.y|float + boarder_delta %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}

  PAUSE_BASE
  G91
  G92 E0 # reset extruder
  G1 E-{retract_distance} F{retract_speed}}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F{park_z_speed}
    G90
    G1 X{x_park} Y{y_park} F{park_speed}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  # command params
  {% set retract_distance = params.RETRACT_PAUSE|default(1)|float %}
  {% set retract_speed = params.RETRACT_SPEED|default(1400)|float %}

  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  G91
  G92 E0 # reset extruder
  G1 E{retract_distance} F{retract_speed}
  RESUME_BASE {get_params}